body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #bf4edb);
    font-size: larger;
    font-weight: bold;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .card {
    background-color: #ffffff;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
  }
  